{% extends 'base.html' %}
{% load static %}


{% block content %}
<section class="employee_outer">
  <div class="employee_filter">
        <h2>Employee {{employee.username}}</h2>
        <button id="toggleButton" onclick="toggleAmount()">Show 60/120</button>
        <h4> Found {{ num_rows }} dates</h4>
    </div>

  <table id="employee_table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Hours_worked</th>
      </tr>
    </thead>
    <tbody>
      {% for atte in attendance %}
        <tr>
          <td>{{ atte.date }}</td>
          <td>{{ atte.total_hours }} h</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="2">No data found</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
{% endblock %}
